@font-face {
 font-family: "main";
 src: url("fonts/Satoshi-Black.otf");
}


body {
    background-color: rgb(128,128,128);
}

#logo {
    text-align: center;
    padding: 20px;
}

#startDiv {
    text-align: center;
}

#divTwo {
    text-align: center;
}

.start {
    background-color: rgb(190, 190, 190); 
    font-family: "main";
    font-size: x-large;
}

#search {
    background-color: rgb(190, 190, 190);
    font-family: "main";
}
#button {
    background-color: rgb(190, 190, 190); 
    font-family: "main";
}

.userInput {
    font-size: 17px;
}

#error {
    font-family: "main";
    min-height: 22px;
}

#songLabel {
    position: absolute;
    left: 36.5%;
    transform: translateX(-50%);

}
#albumLabel {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#trackLabel {
    position: absolute;
    right: 36%;
    transform: translateX(+50%);
}

.guess {
    text-align: center;
    font-family: "main";
    position: relative;
    height: 40px;
}

.song {
    position: absolute;
    left: 36.5%;
    transform: translateX(-50%);
}

.album {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -12px;
}

.album img {
    height: 50px;
}

.arrow {
    position: absolute;
    left: 54.2%;
    transform: translateX(-50%);
    top: 5px;
}

.track {
    position: absolute;
    right: 36%;
    transform: translateX(+50%);
}

.arrow2 {
    position: absolute;
    left: 66.8%;
    transform: translateX(-50%);
    top: 2px;
}

#againDiv {
    text-align: center;
}


